.hero-image {
  background: url(../../../images/hero_min.jpg) #666 no-repeat;
  background-position-y: 35%;
  background-position-x: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 45vh;
  width: 100%;
  position: relative;
  opacity: 1;

  .clear-button {
    width: 53%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    padding: 2vw 4vw;
    border-radius: 10px;
    border: 3px solid $light;
    color: $light;
    background: rgba(0,0,0,0.2);
    font-size: 1.3rem;
    letter-spacing: .1rem;
  }
}

.home-container {
  .header {
    margin-top: 4vh;
    font-size: 7vw;
    text-align: center;
    font-family: $header-font;
    letter-spacing: .25rem;
  }

  .sub-header {
    font-family: $subheader-font;
    letter-spacing: .15rem;
  }

  .home-contact {
    margin: 6vw 0;
    text-align: center;
    font-size: 4vw;
  }

  .home-phone {
    display: none;
  }

  .contact-link {
    margin-left: 1vw;
    letter-spacing: .25rem;
  }
}

@media (min-width: 768px) {
  .hero-image {
    .clear-button {
      display: none;
    }
  }

  .home-container {
    .home-contact {
      font-size: 3vw;
      margin: 4vw 0;
    }

    .home-phone {
      display: inline-block;
    }
  }
}

@media (min-width: 992px) {
  .home-container {
    .header {
      font-size: 4.5vw;
    }

    .sub-header {
      font-size: 3.5vw;
    }

    .home-contact {
      font-size: 1.5vw;
    }
  }
}
