$light: #f7f2d6;
$dark: #383731;
$medium: #787668;

$header-font: 'Playfair Display', sans-serif;
$subheader-font: 'Playball', cursive;
$body-font: 'Jaldi', sans-serif;
$link-font: 'Copse', serif;

// $background-color:
// $font-color:
// $hover-color:
